@model IEnumerable<ITNews.Web1.Models.MainPostViewModel>

@{
    ViewData["Title"] = "TagLink";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="row align-items-center">
                <div class="col-12 col-md-8">
                    <h2>Tag: @ViewBag.TagName</h2>
                    <!-- Blog Content -->
                    @foreach (var item in Model)
                    {
                        <div class="single-blog-content">
                            <div class="post-title align-self-center">
                                <h3><a href="/Main/Details/@item.Id" class="post-headline">@item.Title</a></h3>
                            </div>
                            <p>@item.ShortDiscription</p>
                            <div class="post-meta">
                                @if (item.FullName.LastName == null || item.FullName.FirstName == null)

                                {
                                    <p>By <span>@item.User.UserName</span> </p>
                                }
                                else
                                {
                                    <p>By <span>@item.FullName.FirstName @item.FullName.LastName</span> </p>
                                }
                                <span class="post-category"><strong>Category:</strong> @item.Category.Name</span>
                                <div class="post-date">
                                    @item.Created
                                </div>
                                <div class="post-rating">
                                    <span>Rating: @item.Rating</span>
                                </div>
                                <p>@item.CommentsCount comments</p>
                            </div>
                            <a href="/Main/Details/@item.Id" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Read more</a>
                        </div>
                    }
                </div>
            </div>
         </div>
    </div>
</div>
